$screen-width: 750px;

.what-is-crypto-conchas
    text-align: center
    .conchas-statement
        font-weight: bold
        max-width: 800px
        text-align: left
        margin: auto
        font-size: 1.5em
        margin: 30px auto        
        font-family: Bounties
    .other-font
        font-size: 4em
.smart-contract a
    color: white
    background: black
    width: 75px
    padding: 5px
    font-weight: bolder
    margin: 20px auto
.concha-image img
    width: 35%
    max-width: 300px
.conchas-images-container
    min-height: 200px
    position: relative
    margin: 60px auto
    max-width: 720px
    .concha-about-image
        width: 40%
        max-width: 250px
        position: absolute
        z-index: -10
    .pink
        left: 230px
    .mexican
        left: 120px
    @media screen and (max-width: $screen-width)
        .pink 
            left: 112px
        .mexican
            left: 30px