.what-is-crypto-conchas
    text-align: center
    padding: 25px
    .conchas-statement
        font-weight: bold
        max-width: 800px
        text-align: left
        margin: auto
        font-size: 1.2em
        font-family: Bounties
    .other-font
        font-size: 4em
.smart-contract
    background: tomata
    p,a
        display: inline-block
        vertical-align: middle
    a
        font-weight: bold