.faq-container
    overflow: hidden
    position: relative
    text-align: center
    color: #ffffff
    background: #e74dcf
.faq-container svg
    grid-column: 1 / span 8
    fill: #FE840E
    transition: 0.3s all
.faq-header h1
    animation: animation 1000ms linear both
    font-size: 4em
    font-family: 'Superfats'
.faq-question
    color: #ffffff
    font-family: Bounties
    h2
        font-size: 3em    
.faq-answer
    padding: 30px
    font-size: 23px
    text-align: left
    margin-bottom: 20px
    overflow: hidden
    li
        margin-bottom: 15px
    .recipe-link
        display: block
    p, .recipe-link
        margin: auto
        width: 88%
    a
        font-family: Bounties
        font-weight: bolder
        text-decoration: none
        color: #0012ff
.instagram
    color: #673ab7
.bold-text
    font-weight: bold
.faq-q
    position: absolute
    left: 10px
    font-size: 85px
    color: #f11
    font-weight: bolder
    margin-top: -65px
.faq-answervisibel
    background: red
