header
    text-align: center
    padding: 15px
    background: #fffffe
    a
        color: #736c7d
        margin: 0px 15px 0px 15px
        display: inline-block
.connect-wallet-container
    width: 200px
    display: inline-flex
    color: #4fd0be
.dApp-title
    font-family: Superfats
    font-size: 1.9em
    color: #000000
    display: block
