.introduction-container
    width: 100%
    padding: 50px 0px 50px 0px
    position: relative
    overflow: hidden
    background-repeat: no-repeat
    background: url("../images/conchas-collection.png")
    background-size: 53%
    background-position: 106% 100%
.conchas-image-container, .conchas-introduction-statement
    width: 45%
    display: inline-block
    vertical-align: middle
.concha-image
    width: 59%
.conchas-introduction-statement
    padding: 20px
    font-family: Bounties
    font-size: 35px
    display: inherit
    width: 75%
    margin: auto
    border-radius: 45px
    background: #fdddab
    box-shadow: 1px -1px 0px #ffe3b6, 2px 1px 7px #ffe3ba
.conchas-image-container
    position: absolute
    width: 260px
    z-index: -1
.white-concha-image-container
    bottom: -25px
    left: -30px
.pink-concha-image-container
    right: -163px
    top: -30px
.azteca-concha-image-container
    right: -140px
    bottom: -10px
.rainbow-concha-image-container
    top: -50px
    bottom: 0
    left: -15px
