.minted-individual-token
    display: inline-block
    margin: 20px
    padding: 20px
    border-radius: 145px
    img
        max-width: 250px
.minted-container
    text-align: center
    min-height: 400px
    background: #fbd7a1
    h1
        padding: 30px
        font-size: 1.3em
        font-family: Superfats
