.gallery
    display: inline-block
    margin: 25px
.nft 
    vertical-align: top
    h2
        color: #ffffff
.nft-image-focus, .token-options
    display: inline-block
    margin: 15px
    color: baige
    width: 39%
    min-width: 350px
    vertical-align: middle
    position: relative
    top: 15%
    bottom: 0
.modal-container
    position: absolute
    left: 0
    right: 0
    height: 100%
    